<%= form_for(@movie) do |f| %>

  <%= render "shared/errors", object: @movie %>
    <%= @movie.errors.full_messages.to_sentence %>
      <fieldset>
        <ol>
          <li class="required">
            <%= f.label :title %>
            <%= f.text_field :title, autofocus: true %>
          </li>
          <li class="required">
            <%= f.label :description %>
            <%= f.text_area :description, cols: 40, rows: 7 %>
          </li>
          <li class="required">
            <%= f.label :rating %>
            <%= f.select :rating, Movie::RATINGS, prompt: "Pick one" %>
          </li>
          <li class="required">
            <%= f.label :released_on %>
            <%= f.date_select :released_on %>
          </li>
          <li class="required">
            <%= f.label :total_gross %>
            <%= f.number_field :total_gross %>
          </li>
          <li class="required">
            <%= f.label :duration %>
            <%= f.text_field :duration, size: 10 %>
          </li>
          <li class="required">
            <%= f.label :image_file_name %>
            <%= f.text_field :image_file_name %>
          </li>
          <li>
            <%= f.label :cast %>
            <%= f.text_field :cast %>
          </li>
          <li>
            <%= f.label :director %>
            <%= f.text_field :director %>
          </li>
        </ol>
        <p>
          <%= f.submit %>
          <%= link_to "Cancel", movies_path, class: 'button' %>
        </p>
      </fieldset>
<% end %>
