<!DOCTYPE html>
<html>
<head>
  <title>Super-Heroic Flix</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<div id="wrapper">

  <% if flash[:notice] %>
    <p class="flash notice">
      <%= flash[:notice] %>
    </p>
  <% end %>

  <% if flash[:alert] %>
    <p class="flash alert">
      <%= flash[:alert] %>
    </p>
  <% end %>

  <div id="container">
    <section id="sidebar">
      <%= render "layouts/sidebar" %>
    </section>
    <section id="content">
      <%= yield %>
    </section>
  </div>

</div>

<%= render "layouts/footer" %>

</body>
</html>
